---
# Front matter
---

<!doctype html>
<html lang="en-GB">
 <head>
  <link href="./styles.css" media="all" rel="stylesheet">
 </head>
 <body>
 
    <ul class="portfolio">
    {% for repo in site.github.public_repositories limit:28 %}
 
        {% if repo.fork != true %}
            <li class="repo">
              <h3><a href="{{ repo.homepage }}">{{ repo.name }}</a></h3>
             <p>{{ repo.description }}</p>
            </li>
        {% endif %}
 
    {% endfor %}
    </ul>
 
 </body>
</html>
